# Backend Python packages
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.venv/
venv/

# Frontend
frontend/node_modules/
frontend/dist/

# General
.env
*.db
.DS_Store
*.log
.terraform/
.terraform.lock.hcl
